body
{
    background-image:url(../images/2.jpg);
}
button
{
    border-color: orange;
    
    background-color: orange;
    
}   
.h
{
    color:firebrick;

}
.p1
{
    color:whitesmoke;
}
#v
{
    background-color: green;
    border-color: green;
}
#f
{
    background-color: red;
    border-color: red;
}
label
{
    color:orange;
    font: outline;
    stroke-dashoffset: 50%; 
}